.race-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.race-form-title {
  margin-bottom: 20px;
}

.race-form {
  width: 500px;
  padding: 20px;
  border-radius: 8px;
}

.input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.crew-info {
  border: blue;
}