.error-message {
  color: red;
  margin-top: 10px;
}

input, select {
  background-color: #242424;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.error-flash {
  animation: flash 0.5s ease-in-out 2 forwards;
}

@keyframes flash {
  0%, 50% {
    background-color: red;
  }
  100% {
    background-color: #242424;
  }
}
