.roster-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.roster-title {
  margin-bottom: 15px;
}

.roster-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
